# Numpy Introduction and usage
## We will use numpy in this jupyter notebook

## One Dimensional Array

In [1]:
import numpy as np

In [2]:
array1=np.array([10,20,30,40,50])

In [4]:
print(array1)

[10 20 30 40 50]

## Two dimensional Array (2-D Array)

In [7]:
array2=np.array([[10,20,30,40,50],[60,70,80,80,80]])
print(array2)

[[10 20 30 40 50]
 [60 70 80 80 80]]

## Three Dimensional Array (3-D Array)

In [16]:
array3=np.array([[[10,20,30],[40,50,70]],[[90,50,70],[40,50,70]]])

In [17]:
print(array3)

[[[10 20 30]
  [40 50 70]]

 [[90 50 70]
  [40 50 70]]]

## Find out Dimension of NumPy Array

In [18]:
print('First Array Dimension:\t', array1.ndim)

First Array Dimension:	 1

In [21]:
print('Second Array Dimension:\t', array2.ndim)

Second Array Dimension:	 2

In [20]:
print('Third Array Dimension:\t', array3.ndim)

Third Array Dimension:	 3

# Write an array of 5 students marks using Numpy
## Marks are: 80,70,75,99,89

In [22]:
import numpy as np

In [25]:
array_1=np.array([80,70,75,99,89])

In [27]:
print('Array of Marks')
print(array_1)

Array of Marks
[80 70 75 99 89]

# Write an array to take 5 students in 3 subjects using Numpy

## Math,Physics,Add Math
## [30,45,49],[40,42,45],[60,75,45],[78,86,65],[78,45,69]

In [28]:
Array_marks_subjects=np.array([[30,45,49],[40,42,45],[60,75,45],[78,86,65],[78,45,69]])
print('2-D Array example')
print(Array_marks_subjects)

2-D Array example
[[30 45 49]
 [40 42 45]
 [60 75 45]
 [78 86 65]
 [78 45 69]]

# Write an array to take 4 students in 3 subjects for two semester using Numpy
## Students Name are: 'Ahmad','Qaiyim','Intan','Fatehah'
## Math, Biology, Chemistry
## Two semester: Sem1, Sem2
## 4*3*2
## ([[[80,88],[78,82][90,95]],[[80,88],[78,82][90,95]],[[80,88],[78,82][90,95]],[[80,88],[78,82][90,95]]])

In [31]:
mark_subject_sem=np.array([[[80,88],[78,82],[90,95]],[[90,88],[58,82],[78,95]],[[90,88],[68,82],[80,95]],[[70,88],[88,82],[90,95]]])

In [32]:
print(mark_subject_sem)

[[[80 88]
  [78 82]
  [90 95]]

 [[90 88]
  [58 82]
  [78 95]]

 [[90 88]
  [68 82]
  [80 95]]

 [[70 88]
  [88 82]
  [90 95]]]

# Write an array to take wheater of 2 cities in 3 days for three times in a day,noon,eveningusing Numpy
    ## Cities Name are: 'Sungai Petani,'Alor Setar','Langkawi'
    ## Friday,Saturday,Sunday
    ## Three Time slot: Morning, Noon, Evening
## Create one 3D array for this numpy

In [36]:
array_cities_day=np.array([[['Rain','Cloudy','Windy'],['Rain','Rain','Windy'],['Cloudy','Cloudy','Windy']],[['Snow','Cloudy','Rainy'],['Cloudy','Rain','Windy'],['Cloudy','Cloudy','Snow']]])

In [37]:
print(array_cities_day)

[[['Rain' 'Cloudy' 'Windy']
  ['Rain' 'Rain' 'Windy']
  ['Cloudy' 'Cloudy' 'Windy']]

 [['Snow' 'Cloudy' 'Rainy']
  ['Cloudy' 'Rain' 'Windy']
  ['Cloudy' 'Cloudy' 'Snow']]]

# Basic Information
    ## shape: rowns and colums
    ## Size: number of elements
    ## Dimension: return dimension 1,2,3
    ## Data type: return stored data values type

In [38]:
print(array1)

[10 20 30 40 50]

In [39]:
print('Shape of array1: ',array1.shape)

Shape of array1:  (5,)

In [41]:
print('Size of array1: ',array1.size)

Size of array1:  5

In [42]:
print('Data Type: ',array1.dtype)

Data Type:  int64

In [43]:
print('Dimension Type: ',array1.ndim)

Dimension Type:  1

In [44]:
students=np.array(['Ahmad','Qaiyim','Intan','Fatehah'])

In [45]:
print(students)

['Ahmad' 'Qaiyim' 'Intan' 'Fatehah']

In [46]:
print('Shape of students: ',students.shape)

Shape of students:  (4,)

In [47]:
print('Size of students: ',students.size)

Size of students:  4

In [48]:
print('Data Type: ',students.dtype)

Data Type:  <U7

In [49]:
print('Dimension Type: ',students.ndim)

Dimension Type:  1