# Basic Panda Example to read out from excel file

In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('students.xlsx')

In [4]:
print('Data Frame as follows')
df

Data Frame as follows

     Name  Age  Marks
0    John   20     85
1   Alice   22     90
2     Bob   21     78
3    Sara   23     92
4  Qaiyim   26     90
5   Intan   25     89

In [7]:
dfpatients=pd.read_csv('C:/Users/Admin/Desktop/AIMLTraining/AIML-Training/Day 10/patients.csv')

In [8]:
dfpatients

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
0,PAT-09484753,Richard Rodriguez,24,3/16/2025,3/22/2025,surgery,61
1,PAT-f0644084,Shannon Walker,6,12/13/2025,12/14/2025,surgery,83
2,PAT-ac6162e4,Julia Torres,24,6/29/2025,7/5/2025,general_medicine,83
3,PAT-3dda2bb5,Crystal Johnson,32,10/12/2025,10/23/2025,emergency,81
4,PAT-08591375,Garrett Lin,25,2/18/2025,2/25/2025,ICU,76
...,...,...,...,...,...,...,...
995,PAT-a01bf534,Amber Vang,26,12/2/2025,12/4/2025,emergency,91
996,PAT-87fa07bd,Martha Smith,89,11/18/2025,11/30/2025,emergency,99
997,PAT-8f07e894,Jennifer James,72,12/12/2025,12/21/2025,ICU,69
998,PAT-4ae301e1,Kara Hernandez,47,2/8/2025,2/20/2025,ICU,61
999,PAT-e2ef9c5f,Lorraine Turner,64,5/4/2025,5/8/2025,general_medicine,83

In [9]:
dfpatients['name']

0      Richard Rodriguez
1         Shannon Walker
2           Julia Torres
3        Crystal Johnson
4            Garrett Lin
             ...
995           Amber Vang
996         Martha Smith
997       Jennifer James
998       Kara Hernandez
999      Lorraine Turner
Name: name, Length: 1000, dtype: object

## head in dataframe

In [10]:
df.head()

     Name  Age  Marks
0    John   20     85
1   Alice   22     90
2     Bob   21     78
3    Sara   23     92
4  Qaiyim   26     90

In [12]:
dfpatients.head()

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
0,PAT-09484753,Richard Rodriguez,24,3/16/2025,3/22/2025,surgery,61
1,PAT-f0644084,Shannon Walker,6,12/13/2025,12/14/2025,surgery,83
2,PAT-ac6162e4,Julia Torres,24,6/29/2025,7/5/2025,general_medicine,83
3,PAT-3dda2bb5,Crystal Johnson,32,10/12/2025,10/23/2025,emergency,81
4,PAT-08591375,Garrett Lin,25,2/18/2025,2/25/2025,ICU,76

In [13]:
dfpatients.head(2)

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
0,PAT-09484753,Richard Rodriguez,24,3/16/2025,3/22/2025,surgery,61
1,PAT-f0644084,Shannon Walker,6,12/13/2025,12/14/2025,surgery,83

# tail Example

In [14]:
print('Last Two students in Excel Sheet')
df.tail(2)

Last Two students in Excel Sheet

     Name  Age  Marks
4  Qaiyim   26     90
5   Intan   25     89

In [15]:
print('Last Two patients in Excel Sheet')
dfpatients.tail(5)

Last Two patients in Excel Sheet

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
995,PAT-a01bf534,Amber Vang,26,12/2/2025,12/4/2025,emergency,91
996,PAT-87fa07bd,Martha Smith,89,11/18/2025,11/30/2025,emergency,99
997,PAT-8f07e894,Jennifer James,72,12/12/2025,12/21/2025,ICU,69
998,PAT-4ae301e1,Kara Hernandez,47,2/8/2025,2/20/2025,ICU,61
999,PAT-e2ef9c5f,Lorraine Turner,64,5/4/2025,5/8/2025,general_medicine,83

## Shape Example

In [17]:
dfpatients.shape

(1000, 7)

In [18]:
df.shape

(6, 3)

In [22]:
rows,columns=dfpatients.shape
print(f'Rows: {rows} Columns: {columns}')

Rows: 1000 Columns: 7

In [23]:
rows,columns=df.shape
print(f'Rows: {rows} Columns: {columns}')

Rows: 6 Columns: 3

# values: in dataframe

In [24]:
print('Students Values')
df.values

Students Values

array([['John', 20, 85],
       ['Alice', 22, 90],
       ['Bob', 21, 78],
       ['Sara', 23, 92],
       ['Qaiyim', 26, 90],
       ['Intan', 25, 89]], dtype=object)

In [25]:
print('Patiens Values')

Patiens Values

In [26]:
dfpatients.values

array([['PAT-09484753', 'Richard Rodriguez', 24, ..., '3/22/2025',
        'surgery', 61],
       ['PAT-f0644084', 'Shannon Walker', 6, ..., '12/14/2025',
        'surgery', 83],
       ['PAT-ac6162e4', 'Julia Torres', 24, ..., '7/5/2025',
        'general_medicine', 83],
       ...,
       ['PAT-8f07e894', 'Jennifer James', 72, ..., '12/21/2025', 'ICU',
        69],
       ['PAT-4ae301e1', 'Kara Hernandez', 47, ..., '2/20/2025', 'ICU',
        61],
       ['PAT-e2ef9c5f', 'Lorraine Turner', 64, ..., '5/8/2025',
        'general_medicine', 83]], dtype=object)